.container
	header.header__logo
		h1.logo__head WebDeveloper
	nav.header__main-menu
		ul.menu.main-menu
			li.menu__item
				a.menu__link(href="#main") Главаная
			li.menu__item
				a.menu__link(href="#about") Навыки
			li.menu__item
				a.menu__link(href="#works") Примеры работ
			li.menu__item
				a.menu__link(href="#contact") Контакты
	.header__burger.burger
		.burger__line.burger__line1
		.burger__line.burger__line2
		.burger__line.burger__line3