meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

meta(name="description" content="Портфолио web разработчика")
meta(name="Keywords" content="web developer, front-end, back-end, full-stack")


meta(name="theme-color" content="#FF55AA")
link(rel="stylesheet", href="css/style.css")