section.hero.block#main
	.container._center
		.hero__heading
			header.heading.hero__heading_top.move-bottom
				.heading__title My Life Begins Begin A
				h2.heading__head Web Developer
			header.heading.hero__heading_bottom.move-top
				.heading__btn-group
					a.heading__btn(href="#contact") Lets chat