section.portfolio.block#works
	.container
		.heading
			h2.heading__head Примеры работ
		.portfolio__jobs
			.portfolio__element.portfolio__element1
			.portfolio__element.portfolio__element2
			.portfolio__element.portfolio__element3
			.portfolio__element.portfolio__element4
			.portfolio__element.portfolio__element5
			.portfolio__element.portfolio__element6