.slider.swiper-container#about
	.swiper-wrapper
		section.correct.correct-html.block.swiper-slide
			.picture
				.heading
					h2.heading__head Семантическая верстка
					.heading__title HTML5 БЭМ GULP
					.heading__title PUG (Jade)
		section.correct.correct-css.block.swiper-slide
			.picture
				.heading
					h2.heading__head CSS3 Анимация
					.heading__title Плавные переходы transition
					.heading__title Bootstrap, Materialize, Foundation
					.heading__title Препроцессоры SASS/SCSS, Less, Stylus
		section.correct.correct-js.block.swiper-slide
			.picture
				.heading
					h2.heading__head JavaScript
					.heading__title JQuery, Vue, Angular, Reack
					.heading__title NodeJS, NPM, GULP-TASKS
					.heading__title Ajax WebSockets
		section.correct.correct-php.block.swiper-slide
			.picture
				.heading
					h2.heading__head PHP &#38; MySQL
					.heading__title Laravel Cake PHP ZendEngine
					.heading__title Laravel CMS WordPress Drupal Joomla
					.heading__title WebSockets